body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 1);
  padding: 1% 12%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 7vh
}

.logo img {
  height: 30px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}

.open {
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color:hsla(0, 0%, 0%, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    margin: 10px;
  }

  .hamburger-menu {
    display: block;
  }

  .line.open {
    background-color: #007bff;
  }
}
.loginButtonNavbar {
  background-color: #3661FF;
  color: white;
  padding: 10px;
  width: 19%;
}

.navbarLinks {
  font-size: 8px;
}